.flights {
  display: grid;
  grid-template-columns: 254px 1fr;
  column-gap: 23px;
  max-width: 917px;
  margin: 0 auto;
}

.flights__list {
  padding: 20px 0;
  margin: 0;

  list-style: none;
}

.flights-list__item {
  &:not(:last-child) {
    margin-bottom: 28px;
  }
}
