@font-face {
  font-family: "Sarala";
  src:
    url("../fonts/saralaregular.woff2") format("woff2"),
    url("../fonts/saralaregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sarala";
  src:
    url("../fonts/saralabold.woff2") format("woff2"),
    url("../fonts/saralabold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
